{
	margin: 0 auto;
}

.gif-header {
	color: #ffffff;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
	background-color: #555;
	padding: 20px 40px;
}

form {
	border-bottom: : 1px solid #555;
	background-color: #BEBEBE;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.button-input {
	background-color: #555;
	color: #eee;
	border: 1px solid #555;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 5px;
	cursor: pointer;
}

.button-input:hover {
	background-color: #eee;
	border: 1px solid #555;
	color: black;
}

.button-topic {
	background-color: #eee;
	color: black;
	border: 1px solid #555;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 5px;
	cursor: pointer;
}

.button-topic:hover {
	background-color: #555;
	color: white;
}

input {
	padding: 12px;
	width: 400px;
}

input[placeholder], [placeholder], *[placeholder] {
	color: #555;
	font-size: 16px;
}

img {
	margin: 10px;
	border: 1px solid #555;
	cursor: pointer;
}

#img1 {
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img2{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img3{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img4{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img5{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img6{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img7{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}

#img8{
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
}